<!-- About Area Start Here -->
<section class="s-space-bottom-full bg-accent-shadow-body">
    <div class="container">
        <div class="breadcrumbs-area">
            <ul>
                <li><a href="#">Home</a> -</li>
                <li class="active">フェスルとは</li>
            </ul>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xl-9 col-lg-8 col-md-12 col-sm-12 col-12 mb--sm">
                <div class="gradient-wrapper">
                    <div class="gradient-title">
                        <h2>フェスルとは</h2>
                    </div>
                    <div class="about-us gradient-padding">
                        <img src="img/about/fesuru_top.jpg" alt="about" class="img-fluid">
                        <h3>フェスルとは見出し</h3>
                        <p>この文章は日本語、English、1二３、ﾊﾝｶｸ、全角文字が含まれて40文字。そしてこの文章は、上記要素がAll content入ってﾙｰ大柴みたいになった8０文字入った文章です。貴方likeの幅になったでしょうか？そういうわけで文字.</p
                        <p>この文章は日本語、English、1二３、ﾊﾝｶｸ、全角文字が含まれて40文字。そしてこの文章は、上記要素がAll content入ってﾙｰ大柴みたいになった8０文字入った文章です。貴方likeの幅になったでしょうか？そういうわけで文字.</p
                        <p>この文章は日本語、English、1二３、ﾊﾝｶｸ、全角文字が含まれて40文字。そしてこの文章は、上記要素がAll content入ってﾙｰ大柴みたいになった8０文字入った文章です。貴方likeの幅になったでしょうか？そういうわけで文字.</p>
                    </div>
                </div>
            </div>
            <%= render :partial => "shared/sidebar" %>
        </div>
    </div>
</section>
<!-- About Area End Here -->