<!-- Selling Process Area Start Here -->
<section class="bg-body s-space-regular">
    <div class="container">
        <div class="section-title-dark">
            <h2>フェスルでできる3つのこと</h2>
            <p>ここにフェスルの説明文を入れます。ここにフェスルの説明文を入れます。</p>
        </div>
        <ul class="process-area">
            <li class="wow fadeIn" data-wow-duration="2s" data-wow-delay="0.5s">
                <img src="img/about/kensaku.png" alt="process" class="img-about-icon">
                <h3>フェスの検索</h3>
                <p>この文章は日本語、English、1二３、ﾊﾝｶｸ、全角文字が含まれて40文字。そしてこの文章は、上記要素がAll content入ってﾙｰ大柴みたいになった8０文字入った文章です。貴方likeの幅になったでしょうか？そういうわけで文字数</p>
            </li>
            <li class="wow fadeIn" data-wow-duration="2s" data-wow-delay="0.7s">
                <img src="img/about/yoyaku.png" alt="process" class="img-about-icon">
                <h3>フェスの予約</h3>
                <p> この文章は日本語、English、1二３、ﾊﾝｶｸ、全角文字が含まれて40文字。そしてこの文章は、上記要素がAll content入ってﾙｰ大柴みたいになった8０文字入った文章です。貴方likeの幅になったでしょうか？そういうわけで文字数</p>
            </li>
            <li class="wow fadeIn" data-wow-duration="2s" data-wow-delay="0.9s">
                <img src="img/about/keisai.png" alt="process" class="img-about-icon">
                <h3>フェスの掲載</h3>
                <p>この文章は日本語、English、1二３、ﾊﾝｶｸ、全角文字が含まれて40文字。そしてこの文章は、上記要素がAll content入ってﾙｰ大柴みたいになった8０文字入った文章です。貴方likeの幅になったでしょうか？そういうわけで文字数</p>
            </li>
        </ul>
    </div>
</section>
<!-- Selling Process Area End Here -->