<div class="col-xl-3 col-lg-4 col-md-12 col-sm-12 col-12">
    <div class="sidebar-item-box">
        <ul class="sidebar-more-option">
            <li>
                <a href="post-ad.html"><img src="/img/banner/more1.png" alt="more" class="img-fluid">広告枠1</a>
            </li>
            <li>
                <a href="#"><img src="/img/banner/more2.png" alt="more" class="img-fluid">広告枠2</a>
            </li>
            <li>
                <a href="favourite-ad-list.html"><img src="/img/banner/more3.png" alt="more" class="img-fluid">広告枠3</a>
            </li>
        </ul>
    </div>
    <div class="sidebar-item-box">
        <img src="/img/banner/sidebar-banner1.jpg" alt="banner" class="img-fluid m-auto">
    </div>
</div>