<div class="main fesus-index">
  <div class="container">
    <h1 class="fesus-heading">フェス一覧</h1>
    <% @fesus.each do |fesu| %>
      <div class="fesus-index-item">
        <div class="fesu-right">
          <%= link_to(fesu.title, "/fesus/#{fesu.id}") %>
        </div>
      </div>
    <% end %>
  </div>
</div>