<div class="main fesu-show">
  <div class="container">
    <div class="fesu">
      <h2><%= @fesus.title %></h2>
      <h2><%= @fesus.category %></h2>
      <h2><%= @fesus.date %></h2>
      <img src="<%= @fesus.photo %>" alt="no image" title="no image" >
    </div>
  </div>
</div>