<h3>カテゴリーで探す</h3>
   <%= link_to image_tag("fes.png", alt: "fes"), fesus_index_path(q: { category_eq: "音楽フェス" }), class: 'btn btn-link' %>
   <%= link_to image_tag("niku.png", alt: "niku"), fesus_index_path(q: { category_eq: "肉フェス" }), class: 'btn btn-link' %>
   <%= link_to image_tag("omaturi.png",alt: "omaturi"), fesus_index_path(q: { category_eq: "お祭り" }), class: 'btn btn-link' %>