<!-- Main Visual Start Here -->
<div class="main-visual">
    <div class="main-visual-top-img">
        <img src="assets/fesuru_top.jpg" alt="fesuru_top" class="top-img" >
    </div>
    <div class="main-visual-inner">
      <h1 class="main-title">フェスをもっと、面白く。<br>フェスの検索・予約が簡単にできます。</h1>
      <p class="main-read">編集部＆現地ライターが今おすすめのフェス情報もご案内します。</p>
    </div>
</div>
<!-- Main Visual End Here -->