<!-- Map Area Start Here -->
<div class="main-visual">
    <div calss="main-visual-top-img">
        <img src="assets/fesuru_top.jpg" alt="fesuru_top" class="top-img" >
    </div>
</div>
<!-- Map Area End Here -->

<!-- Search Area Start Here -->
<section class="search-layout2 bg-accent">
    <div class="search-layout2-holder">
        <div class="container">
            <%# <form id="cp-search-form" class="bg-body search-layout2-inner"> %>
                <div class="row">

<%
=begin
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="form-group search-input-area input-icon-location">
                            <select id="location" class="select2">
                                <option value="0">Select Location</option>
                                <option value="1">Paypal</option>
                                <option value="2">Master Card</option>
                                <option value="3">Visa Card</option>
                                <option value="4">Scrill</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="form-group search-input-area input-icon-category">
                            <select id="categories" class="select2">
                                <option value="0">Select Categories</option>
                                <option value="1">Paypal</option>
                                <option value="2">Master Card</option>
                                <option value="3">Visa Card</option>
                                <option value="4">Scrill</option>
                            </select>
                        </div>
                    </div>
                    
=end
%>
                    <div class="col-lg-12 col-md-6 col-sm-6 col-12">
                        <%= search_form_for @q, url: fesus_index_path do |f| %>
                          <div class="input-group"> 
                            <%= f.text_field :place_cont, placeholder: "「東京」などのエリアで探す", class: 'form-control' %>
                            <div class="col-lg-3 col-md-6 col-sm-6 col-12 text-right text-left-mb">
                                <%= f.button class: "cp-search-btn" do %>
                                    <i class="fa fa-search" aria-hidden="true"></i>検索
                                <% end %>
                            </div>
                          </div>
                        <% end %>
                    </div>

<%
=begin
                        <div class="form-group search-input-area input-icon-keywords">
                            <input placeholder="Enter Keywords here ..." value="" name="key-word" type="text">
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-12 text-right text-left-mb">
                            <a href="#" class="cp-search-btn"><i class="fa fa-search" aria-hidden="true"></i>Search</a>
                        </div>
=end
%>
                </div>
            </form>
        </div>
    </div>
</section>