<%= search_form_for @q, url: fesus_index_path do |f| %>
  <h3>エリアで探す</h3>
  <div class="input-group">
    <%= f.text_field :place_cont, placeholder: "「東京」などのエリアで探す", class: 'form-control' %>
    <span class="input-group-btn">
     <%= f.submit "検索", class: "btn btn-primary" %>
    </span>
  </div>
<% end %>

