<!-- Footer Area Start Here -->
<footer>
  <div class="footer-area-top s-space-equal">
      <div class="container">
          <div class="row">
              <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                  <div class="footer-box">
                      <h3 class="title-medium-light title-bar-left size-lg">フェスルとは</h3>
                      <ul class="useful-link">
                          <li>
                              <a href="about.html">フェスルについて</a>
                          </li>
                          <li>
                              <a href="#">フェスルの歴史</a>
                          </li>
                          <li>
                              <a href="#">チームメンバー</a>
                          </li>
                          <li>
                              <a href="#">プライバシーポリシー</a>
                          </li>
                          <li>
                              <a href="#">サイトマップ</a>
                          </li>
                      </ul>
                  </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                  <div class="footer-box">
                      <h3 class="title-medium-light title-bar-left size-lg">ホゲホゲ</h3>
                      <ul class="useful-link">
                          <li>
                              <a href="#">ホゲホゲ</a>
                          </li>
                          <li>
                              <a href="#">ホゲホゲ</a>
                          </li>
                          <li>
                              <a href="#">ホゲホゲ</a>
                          </li>
                          <li>
                              <a href="#">ホゲホゲ</a>
                          </li>
                          <li>
                              <a href="#">ホゲホゲ</a>
                          </li>
                      </ul>
                  </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                  <div class="footer-box">
                      <h3 class="title-medium-light title-bar-left size-lg">ヘルプ &amp; サポート</h3>
                      <ul class="useful-link">
                          <li>
                              <a href="#">ライブチャット</a>
                          </li>
                          <li>
                              <a href="faq.html">FAQ</a>
                          </li>
                          <li>
                              <a href="#">オンラインチャット</a>
                          </li>
                          <li>
                              <a href="contact.html">お問い合わせ</a>
                          </li>
                      </ul>
                  </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                  <div class="footer-box">
                      <h3 class="title-medium-light title-bar-left size-lg">SNS</h3>
                      <ul class="folow-us">
                          <li>
                              <a href="#">
                                  <img src="/img/footer/follow1.jpg" alt="follow">
                              </a>
                          </li>
                          <li>
                              <a href="#">
                                  <img src="/img/footer/follow2.jpg" alt="follow">
                              </a>
                          </li>
                      </ul>
                      <ul class="social-link">
                          <li class="fa-classipost">
                              <a href="#">
                                  <img src="/img/footer/facebook.jpg" alt="social">
                              </a>
                          </li>
                          <li class="tw-classipost">
                              <a href="#">
                                  <img src="/img/footer/twitter.jpg" alt="social">
                              </a>
                          </li>
                          <li class="yo-classipost">
                              <a href="#">
                                  <img src="/img/footer/youtube.jpg" alt="social">
                              </a>
                          </li>
                          <li class="pi-classipost">
                              <a href="#">
                                  <img src="/img/footer/pinterest.jpg" alt="social">
                              </a>
                          </li>
                          <li class="li-classipost">
                              <a href="#">
                                  <img src="/img/footer/linkedin.jpg" alt="social">
                              </a>
                          </li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="footer-area-bottom">
      <div class="container">
          <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6 col-12 text-center-mb">
                  <p>Copyright © Intro inc.</p>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-12 text-right text-center-mb">
                  <ul>
                      <li>
                          <img src="/img/footer/card1.jpg" alt="card">
                      </li>
                      <li>
                          <img src="/img/footer/card2.jpg" alt="card">
                      </li>
                      <li>
                          <img src="/img/footer/card3.jpg" alt="card">
                      </li>
                      <li>
                          <img src="/img/footer/card4.jpg" alt="card">
                      </li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
</footer>
<!-- Footer Area End Here -->
