<!-- Subscribe Area Start Here -->
<section class="bg-body s-space full-width-border-top">
    <div class="container">
        <div class="section-title-dark">
            <h2 class="size-sm">フェスの最新情報をメルマガで</h2>
            <p>メルマガの登録導線になります。メルマガの登録導線になります。</p>
        </div>
        <div class="input-group subscribe-area">
            <input type="text" placeholder="例：fesuru@gmail.com" class="form-control">
            <span class="input-group-addon">
                <button type="submit" class="cp-default-btn-xl">登録</button>                        
            </span>
        </div>
    </div>
</section>
<!-- Subscribe Area End Here -->